.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.box {
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0 5px 5px 0;
    background-color: lavender;
    border: 1px solid black;
}

.box-fizz {
    background-color: yellow;
    border: 1px solid black;
    text-transform: uppercase;
}

.box-buzz {
    background-color: blue;
    border: 1px solid black;
    text-transform: uppercase;
}

.box-buzzfizz {
    background-color: green;
    border: 1px solid black;
    text-transform: uppercase;
}